 a {color: #eee; text-decoration: none}
a:hover {color: blue;}

#jeeFaceFilterCanvas {
    position: fixed; 
    max-height: 100%;
    max-width: 100%;
    width: 800px;
    height: 600px;
    left: 0%;
    top: 0%;
    width: 100vmin;
    transform: translate(0%, 0%) rotateY(180deg);
} 

/* @media (max-width: 500px) {
    #jeeFaceFilterCanvas {
        height: 600px !important;
        width: 400px !important;
    }
} */
