doctype
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="content-language" content="en-EN" )
    title EYETOOL TRY ON
    script(type="text/javascript" src="./dist/jeelizFaceFilter.js")

    script(type="text/javascript" src="./libs/threejs/v97/three.min.js")

    script(type="text/javascript" src="./helpers/OBJLoader.js")
    script(type="text/javascript" src="./helpers/MTLLoader.js")
    script(type="text/javascript" src="./helpers/FBXLoader.js")
    script(type="text/javascript" src="./helpers/inflate.min.js")
    script(type="text/javascript" src="./helpers/JeelizResizer.js")

    script(type="text/javascript" src="./helpers/JeelizThreejsHelper.js")
    script(type="text/javascript" src="./demo.js")
    link(rel='stylesheet', href='./appearance/style.css')
  body(onload="main(`#{pathToModel}`)" style={color: 'white'})
    center
      canvas#jeeFaceFilterCanvas()
   